@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #001122;
}

@layer utilities {
  label,
  span,
  p,
  a {
    @apply font-sans font-semibold leading-3 tracking-wide;
  }
  .input {
    @apply block font-normal w-full rounded-lg text-base py-1 px-2 border outline-none shadow-sm focus:ring-2 focus:ring-pink-300 hover:ring-1 hover:ring-pink-200 bg-secondary-dark font-sans;
  }
  .label {
    @apply block text-base font-medium leading-3 px-1 py-2;
  }
  .button {
    @apply flex w-full font-sans  tracking-wide text-base justify-center gap-2 rounded-md px-3 py-1.5 font-semibold leading-6 shadow-md  outline-none transition-all duration-500;
  }
  .primary {
    @apply text-white bg-gradient-to-t  from-primary to-primary-light;
  }
  .secondary {
    @apply bg-gradient-to-t from-secondary to-secondary-light text-accent shadow-inner border-2 border-slate-100;
  }
  .primary:hover {
    @apply bg-gradient-to-t  from-primary-dark to-primary-light;
  }
  .secondary:hover {
    @apply bg-gradient-to-t from-secondary-dark to-secondary-light;
  }
  .link {
    @apply underline text-xs cursor-pointer float-right font-semibold;
  }
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.svg#BOG-UltraBold")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.svg#BOG-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.svg#BOG-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.svg#BOG-Headline-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.svg#BOG-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.svg#BOG-Headline-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.svg#BOG-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.svg#BOG-Headline-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.svg#BOG-Headline-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.svg#BOG-Headline-UltraBold")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.svg#BOG-Headline-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.svg#BOG-Headline-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.svg#BOG-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.svg#BOG-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
